.medicationCardRow {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.medicationCardButtonsRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}
